<div class=" row">
    <ul class="navbar-van mr-auto"></ul>
</div>

<a id="CreateQuiz"></a>
<div class="row my-4 justify-content-center">
    <h3>Create Quiz</h3>
</div>

<div class="row my-4">
    <div class="col-6 my-auto">
        <p>To Create a Quiz click on Quiz tab and then click on create link. This will open quiz create form. Now fill the form with required data and submit to create a quiz.</p>
    </div>
    <div class="col-6">
        <img src="~/HelpFiles/QuizCreate.jpg" />
    </div>
</div>
<hr class="solid" />

<a id="CreateQuestion"></a>
<div class="row my-4 justify-content-center">
    <h3>Create Question</h3>
</div>

<div class="row my-4">
    <div class="col-6">

        <img src="~/HelpFiles/QuestionCreate.jpg" />
    </div>
    <div class="col-6 my-auto">
        <p>To Create new question, click on Qustion tab and then click on create link. This will open new form. Fill all the fields and click one submit button. On submit it will create a new question and list all question with new question created.</p>
    </div>
</div>

<hr class="solid" />

<a id="CreateOption"></a>
<div class="row my-4 justify-content-center">
    <h3>Create Option</h3>
</div>

<div class="row my-4">
    <div class="col-6 my-auto">
        <p>
            To create a option, click on Option tab and then click on create link. This will open new form. Fill the form and submit it.
        </p>
    </div>
    <div class="col-6">
        <img src="~/HelpFiles/OptionCreate.jpg" />

    </div>
</div>