@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome to the Perfect Policy Quiz</h1>


</div>

<div class="d-flex justify-content-center" align-items-centre" style="height: 76vh">
    <form asp-action="FilterQuiz" asp-controller="Quiz">
        <label>
            Enter your organisation name to continue:
        </label>
        <input type="text" class="form-control" name="QuizCreator" />
        <input type="submit" class="form-control" name="steve's Warehouse" value="View Quizzes" />
    </form>

</div>
