@model PerfectPolicyQuizTwo.Models.Quiz

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Quiz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="QuizId" class="control-label"></label>
                    <input asp-for="QuizId" class="form-control" />
                    <span asp-validation-for="QuizId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="QuizTitle" class="control-label"></label>
                <input asp-for="QuizTitle" class="form-control" />
                <span asp-validation-for="QuizTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuizDate" class="control-label"></label>
                <input asp-for="QuizDate" class="form-control" />
                <span asp-validation-for="QuizDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuizPersonName" class="control-label"></label>
                <input asp-for="QuizPersonName" class="form-control" />
                <span asp-validation-for="QuizPersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuizPassNumber" class="control-label"></label>
                <input asp-for="QuizPassNumber" class="form-control" />
                <span asp-validation-for="QuizPassNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
