@model PerfectPolicyQuizTwo.Models.QuizModel.Quiz

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Quiz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                    <label asp-for="quizId" class="control-label"></label>
                    <input asp-for="quizId" class="form-control" />
                    <span asp-validation-for="quizId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="quizTitle" class="control-label"></label>
                <input asp-for="quizTitle" class="form-control" />
                <span asp-validation-for="quizTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quizdate" class="control-label"></label>
                <input asp-for="quizdate" class="form-control" />
                <span asp-validation-for="quizdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quizpresonName" class="control-label"></label>
                <input asp-for="quizpresonName" class="form-control" />
                <span asp-validation-for="quizpresonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quizPassNumber" class="control-label"></label>
                <input asp-for="quizPassNumber" class="form-control" />
                <span asp-validation-for="quizPassNumber" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                    <label asp-for="questionNumber" class="control-label"></label>
                    <input asp-for="questionNumber" class="form-control" />
                    <span asp-validation-for="questionNumber" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
